fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
aiofiles
anyio
boxsdk
box-sdk-gen
psycopg2-binary

pandas
ocrmypdf 
joblib 
nltk 
pymupdf
requests 
pydantic 
google-genai
azure-ai-documentintelligence
python-dotenv
scikit-learn

pdf2image
boto3